.AppHeader {
  height: 90px;
  display: flex;
  background-color: #ababab;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 50px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
  position: sticky;
}
.AppHeader Text {
  border: 3px;
  border-color: black;
}

.Wb {
  background-color: #8f6ddf;
  color:black;
  width: 200px;
  text-align: center;
  justify-content: center;
}

.Wb:hover {
  color: #cd30f9;
}

.Connected {
  justify-content: center;

}

card.paid {
  background-color: aqua;
}

.grid-item {
  background-color: coral;
  justify-content: center;
}